Lab02_Recursividad.csproj
bin/Debug/net7.0/Lab02_Recursividad.deps.json
bin/Debug/net7.0/Lab02_Recursividad.dll
bin/Debug/net7.0/Lab02_Recursividad.exe
bin/Debug/net7.0/Lab02_Recursividad.pdb
bin/Debug/net7.0/Lab02_Recursividad.runtimeconfig.json
obj/Lab02_Recursividad.csproj.nuget.dgspec.json
obj/Lab02_Recursividad.csproj.nuget.g.props
obj/Lab02_Recursividad.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/Lab02_Recursividad.AssemblyInfo.cs
obj/Debug/net7.0/Lab02_Recursividad.AssemblyInfoInputs.cache
obj/Debug/net7.0/Lab02_Recursividad.assets.cache
obj/Debug/net7.0/Lab02_Recursividad.csproj.AssemblyReference.cache
obj/Debug/net7.0/Lab02_Recursividad.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Lab02_Recursividad.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Lab02_Recursividad.dll
obj/Debug/net7.0/Lab02_Recursividad.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Lab02_Recursividad.genruntimeconfig.cache
obj/Debug/net7.0/Lab02_Recursividad.GlobalUsings.g.cs
obj/Debug/net7.0/Lab02_Recursividad.pdb
obj/Debug/net7.0/ref/Lab02_Recursividad.dll
obj/Debug/net7.0/refint/Lab02_Recursividad.dll
